<div class="createSite">
	<form id="categoryform" onsubmit="return ajaxsubmit()" class="" action="{% url 'inspectv1:add' %}" method="post">
		<input type="hidden" value="{{sites}}" name="site_id" id="site_id">
		<input type="hidden" value="" name="master_id" id="master_id">
		<p class="showmessage" style="display:none;"> Data Saved Successfully. </p>
		{% if messages %}
		{% for message in messages %}
		<p {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
		{% endfor %}

		{% endif %}
		{% csrf_token %}


		{% for cat in category|dictsort:"sequence" %}
		<div class="row mb-2">
			<div class="col-sm-12">
				<div class="card">
					<div {% if cat.filled  %} class="card-header " {% else %} class="card-header" {% endif %}
						id="card_header_{{cat.id}}" onclick="showcard('{{cat.id}}')">
						<h5>
							<span class="badge badge-primary">
								<i class="fa fa-question" aria-hidden="true"></i></span>
							{{cat}}</h5>
					</div>
					<div class="card-body form-group invisible" id="category_{{cat.id}}">
						<input type="hidden" value="{{cat.id}}" name="category_id" id="category_id_{{cat.id}}">

						{%for list in cat.items.all %}
						<div class="itembgnd">
							<input type="hidden" value="{{list.id}}" name="item_id" id="item_id_{{list.id}}">
							<input type="hidden" value="{{list.throw_error}}" name="item_throw_error"
								id="throw_error_{{list.id}}">
							<label for="">{{list.items}}</label>
							<input class="form-control" type={{list.fieldtype}} value="" name="field"
								id="field_{{list.id}}" onclick="myfunction('{{list.id}}')">
							{% for post in posts %}

							{% ifequal post.item_id_id list.id %}


							<script type="text/javascript">
								if (jQuery("#field_" + {{ list.id }}).attr('type') == "checkbox") {
									jQuery("#field_" + {{ list.id }}).prop('checked', true);
																		}else {
									jQuery("#field_" + {{ list.id }}).val({{ post.item_value }});
																		}
							</script>
							{% endifequal %}
							{%endfor%}
							<div><input type="file" name="my_image" id="image_{{list.id}}" style="display:none">
							</div>
						</div>
						{%endfor%}
						<button class="btn btn-primary btn-lg special submitbutton" id="savebutton_{{cat.id}}"
							type="submit" data-id="{{cat.id}}">Save</button>
					</div>

				</div>
			</div>

		</div>
		{%endfor%}
		<button class="btn btn-primary special submitbutton2" id="saveall" type="submit" data-id=""
			onclick="saveall()">Save All</button>
	</form>
	<div class="alert alert-success alertbox"
		style="height: 3px; position: absolute;top: 0px; width:100%; left: 11px; display:none;">
		<span class="span" style="position:relative; top:-13px;">Data Saved Successfully</span>
	</div>

</div>
<div id="choosesite"
	style="display:none; color:#000; background-color:#fff; width:100%; padding: 10px; border-radius:5px; margin: 20px 20px 0 0;">
	Choose Site First</div>