{% extends 'inspectv1/base.html' %}
{% load custom_template_tag %}
{% load bootstrap4%}
{%load static%}
{% block content %}

<section class="datefilters">
    <div class="container mb-2">
        {% comment %} <h5 class='page-title datefilterheader'> <a class="" data-toggle="collapse"
                href="#collapsefilters" aria-expanded="false" aria-controls="collapsefilters">
                Date Filters
            </a></h5> {% endcomment %}
        <div class="" id="collapsefilters">
            <div class="row">
                <div class="col">
                    <form action="#" method="get" class="form">
                        {% csrf_token %}
                        {% bootstrap_field form.start_date layout='horizontal'%}
                </div>
                <div class="col">
                    {% bootstrap_field form.end_date layout='horizontal'%}
                </div>
                <div class="col-sm-auto">

                    <button type="submit" class="btn btn-primary" name="dates">
                        Filter Dates
                    </button>
                    </form>
                </div>


            </div>
        </div>
</section>

<!--Section for charts based on previous selection-->
<section class="dashdetails">
    <div class="container mb-2">
        <h5 class='page-title'>
            Chart {{sitedata.0.errortype}}
        </h5>
        <div class="dashtable">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Station</a> -->
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Issues</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Field</a>
                    <a class="nav-item nav-link" id="nav-risk-tab" data-toggle="tab" href="#nav-risk" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Risk</a>
                    <a class="nav-item nav-link" id="nav-state-tab" data-toggle="tab" href="#nav-state" role="tab"
                        aria-controls="nav-contact" aria-selected="false">State</a>
                    <a class="nav-item nav-link" id="nav-subsidiary-tab" data-toggle="tab" href="#nav-subsidiary"
                        role="tab" aria-controls="nav-contact" aria-selected="false">Subsidiary</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <canvas id="issues" style="display: block; position:relative; height:60vh; width: 80vw;"
                        class="chartjs-render-monitor"></canvas>
                    {%if not issue_label %}<p>No data found</p> {%endif%}
                </div>
                <!-- <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                    aria-labelledby="nav-profile-tab">
                    <canvas id="site" style="display: block; position:relative; height:40vh; width: 80vw;"
                        class="chartjs-render-monitor"></canvas>
                    {%if not site_label %}<p>No data found</p> {%endif%}
                </div> -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <canvas id="field" style="display: block; position:relative; height:60vh; width: 80vw;"
                        class="chartjs-render-monitor"></canvas>
                    {%if not cat_label %}<p>No data found</p> {%endif%}
                </div>
                <div class="tab-pane fade" id="nav-risk" role="tabpanel" aria-labelledby="nav-risk-tab">
                    <canvas id="risk" style="display: block; position:relative; height:60vh; width: 80vw;"
                        class="chartjs-render-monitor"></canvas>
                    {%if not risk_label %}<p>No data found</p> {%endif%}
                </div>
                <div class="tab-pane fade" id="nav-state" role="tabpanel" aria-labelledby="nav-state-tab">
                    <canvas id="state" style="display: block; position:relative; height:60vh; width: 80vw;"
                        class="chartjs-render-monitor"></canvas>
                    {%if not state_label %}<p>No data found</p> {%endif%}
                </div>
                <div class="tab-pane fade" id="nav-subsidiary" role="tabpanel" aria-labelledby="nav-subsidiary-tab">
                    <canvas id="subsidiary" style="display: block; position:relative; height:60vh; width: 80vw;"
                        class="chartjs-render-monitor"></canvas>
                    {%if not subsidiary_label %}<p>No data found</p> {%endif%}
                </div>
            </div>

        </div>
    </div>

</section>

<!--Section for table listing of all sites and issues -->
<section class="sitesvisited">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h5 class='page-title'>Details</h5>
                <div class="dashtable table-responsive">
                    <table id="mytable" class="table  display">

                        <thead>

                            <tr>
                                <th>Site No.</th>
                                <th>Station</th>
                                <th>Date Visited</th>
                                <th>Field</th>
                                <th>Issue</th>
                                <th>Risk</th>
                                <th>Category</th>
                                <th>State</th>
                                <th>Subsidiary</th>
                            </tr>
                        </thead>
                        {%if sitedata%}
                        <tbody>

                            {% for x in sitedata %}
                            <tr>
                                <td>{{x.siteno}}</td>
                                <td><a href="{%url 'inspectv1:dash2detail' pk=x.masterid%}"
                                        target="_blank">{{x.name}}</a> 
                                        
                                        {% if x.item_imageurl %}
                                        <span><i class="fa fa-paperclip"></i></span>
                                        {% endif %}
                                            
                                        
                                    {% comment %} <a href="#" data-toggle="modal" data-target="#SiteDetailModalCenter"
                                        onclick="getissuedetails({{x.masterid}})">{{x.name}}</a> {% endcomment %}
                                </td>
                                <td>
                                    <span style="display: none;">{{x.dateadd|dtfmt}}</span>{{x.dateadd}}
                                </td>
                                <td>{{x.category}}</td>
                                <td>{{x.itemname}}</td>
                                <td>{{x.severity}}</td>
                                <td>{{x.errortype}}</td>
                                <td>{{x.state}}</td>
                                <td>{{x.subsidiary}}</td>

                            </tr>
                            {%endfor%}
                        </tbody>

                        {%endif%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section to display the modal dialog for clicking on Details -->
<section class="modaldisplay">
    <div class="container-fluid">
        <div class="modal fade" id="SiteDetailModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="SiteDetailModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SiteDetailModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This is where table goes - need to add org and paging

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script>
    background = [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
    ]
    borders = [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ]

    function calculatePoint(i, intervalSize, colorRangeInfo) {
        var {
            colorStart,
            colorEnd,
            useEndAsStart
        } = colorRangeInfo;
        return (useEndAsStart ?
            (colorEnd - (i * intervalSize)) :
            (colorStart + (i * intervalSize)));
    }

    function interpolateColors(dataLength, colorScale, colorRangeInfo) {
        var {
            colorStart,
            colorEnd
        } = colorRangeInfo;
        var colorRange = colorEnd - colorStart;
        var intervalSize = colorRange / dataLength;
        var i, colorPoint;
        var colorArray = [];

        for (i = 0; i < dataLength; i++) {
            colorPoint = calculatePoint(i, intervalSize, colorRangeInfo);
            colorArray.push(colorScale(colorPoint));
        }

        return colorArray;
    }

    $(document).ready(function () {
        $('#mytable').DataTable();
    });
</script>



<script>
    function createChart(chartId, chartLabel, chartData, colorScale, colorRangeInfo) {
        /* Grab chart element by id */
        const chartElement = document.getElementById(chartId);

        const dataLength = chartData.length;

        /* Create color array */
        var COLORS = interpolateColors(dataLength, colorScale, colorRangeInfo);


        /* Create chart */
        const myChart = new Chart(chartElement, {
            type: 'doughnut',
            data: {
                labels: chartLabel,
                datasets: [{
                    backgroundColor: COLORS,
                    hoverBackgroundColor: COLORS,
                    data: chartData
                }],
            },
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'bottom'
                },

            }
        });

        return myChart;
    }
    //const colorScale = d3.interpolateInferno;
    const colorScale = d3.interpolateSpectral

    const colorRangeInfo = {
        colorStart: 0.1,
        colorEnd: 0.9,
        useEndAsStart: false,
    };
    createChart('subsidiary', {{ subsidiary_label | js}}, {{ subsidiary_data }}, colorScale, colorRangeInfo)
    <!-- createChart('site', {{ site_label| js}}, {{ site_data }}, colorScale, colorRangeInfo) -->
    createChart('field', {{ cat_label| js}}, {{ cat_data }}, colorScale, colorRangeInfo)
    createChart('state', {{ state_label| js}}, {{ state_data }}, colorScale, colorRangeInfo)
    createChart('risk', {{ risk_label| js}}, {{ risk_data }}, colorScale, colorRangeInfo)
    createChart('issues', {{ issue_label| js}}, {{ issue_data }}, colorScale, colorRangeInfo)

</script>

{% endblock content %}