{% extends 'inspectv1/base.html' %}
{% load custom_template_tag %}
{% load bootstrap4%}
{%load static%}
{% block content %}

<section class="datefilters">
    <div class="container mb-2">

        <div class="" id="collapsefilters">
            <div class="row">
                <div class="col" style="white-space: nowrap;">
                    <form action="#" method="get" class="form">
                        {% csrf_token %}
                        {% bootstrap_field form.start_date layout='horizontal'%}
                </div>
                <div class="col" style="white-space: nowrap;">
                    {% bootstrap_field form.end_date layout='horizontal'%}
                </div>
                <div class="col-sm-auto">

                    <button type="submit" class="btn btn-primary" name="dates">
                        Filter Dates
                    </button>
                    <a  href="/generatexlsx" target="_blank" class="btn btn-success btn-excel" name="xlsx">
                        <i class="fa fa-download"></i><span class="ml-2"></span>Excel
                    </a>
                    </form>
                </div>


            </div>
        </div>
</section>

<section class="sitesvisited">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <!-- <h5 class='page-title'>Sites Visit Status</h5> -->
                <div class="progress-group">
                    <span class="progress-text">Sites visited</span>
                    <span class="progress-number"><span style="--countinspect: {{countinspected}}"><span
                                class="progress-count"></span></span>/{{countofsites}}</span>

                    <div class="progress sm">
                        <span style="width: {{percentcompleted}}%"><span
                                class="progress-bar progress-bar-aqua"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section for status-->
<section class="status">
    <div class="container">
        <h5 class='page-title'>Inspection Categories</h5>
        <div class="row">


            {% for key, value in errors.items %}
            <div class="col-sm-3 mb-2">
                <div class="card-deck h-100">

                    <div class="card mb-3"
                        onclick="location.href='{% url 'inspectv1:dashdetails' key %}?start_date={{form.initial.start_date}}&end_date={{form.initial.end_date}}'">
                        <div
                            class="card-header {% cycle 'bg-info' 'bg-success' 'bg-warning' 'bg-primary' 'bg-danger' 'bg-operations' 'bg-risk'%}">
                            <span class="info-box-number">
                                <i class="fa {% cycle 'fa-gavel' 'fa-life-ring' 'fa-wrench'  'fa-chain-broken' 'fa-power-off' 'fa-cog' 'fa-exclamation' %}"
                                    style='font-size: 1.5rem;'></i>
                                {{key}}
                            </span>

                        </div>
                        <div class="card-body">

                            <p class="card-text"><i class="fa fa-sliders fa-fw"></i><span class="ml-1"></span>Issues<br>
				<span class="bar bar-bkground"><span class="bar bar-issue" style="width: {%if value.sum %}calc({{value.sum}} / {{totalissue}} * 100%){% else %}0{% endif %}; --animation-order: 1;">
					<span class="bar-text">{{value.sum}}</span>
				</span></span>
			    </p>
                            <p class="card-text"><i class="fa fa-map-marker fa-fw"></i><span class="ml-1"></span>Sites<br>
				<span class="bar bar-bkground"><span class="bar bar-site" style="width: {%if value.ds %}calc({{value.ds}} / {{countinspected}} * 100%){% else %}0{% endif %}; --animation-order: 2;">
					<span class="bar-text">{{value.ds}}</span>
				</span></span>
			    </p>
                            <p class="card-text"><i class="fa fa-star-o fa-fw"></i><span class="ml-1"></span>Distinct issues<br>
				<span class="bar bar-bkground"><span class="bar bar-distinct" style="width: {%if value.di %}calc({{value.di}} / {{totaldistinctissue}} * 100%){% else %}0{% endif %}; --animation-order: 3;">
					<span class="bar-text">{%if value.di %}{{value.di}}{% else %}0{% endif %}</span>
				</span></span>
			    </p>
                            <p class="card-text" style="line-height: 1.3rem; font-size:small"><em>Top Issue</em><br>
                                <strong>{%if value.top %}{{value.top}}{% else %}None{% endif %}</strong></p>

                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</section>


<!-- Section for Risks -->
<section class='risks'>
    <div class="container">
        <h5 class='page-title'>Risk</h5>

        <div class="riskitems">
            <div class="row">
                <div class="col-sm">
                    <p class=" ml-2 mt-2 inline"><strong>{{RISK.sum}}</strong> issues</p>
                    <p class=" ml-2 inline"><strong>{{RISK.ds}} </strong>sites</p>


                    <p class=" ml-2"><strong>{%if RISK.di %}{{RISK.di}}{% else %}0{% endif %}</strong>
                        distinct issues</p>
                    <p class=" ml-2 mb-2" style="line-height: 1.3rem; font-size:small"><em>Top Issue</em><br>
                        <strong>{%if RISK.top %}
                            {% for items in RISK.top %}<p class=" ml-2">{{items}}</p>{% endfor %}
                            {% else %}None{% endif %}</strong></p>
                </div>

            </div>
        </div>
</section>

<!-- end section for risk-->
<!--Section for map -->
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
    }

    /* Optional: Makes the sample page fill the window. */
</style>
<section class="maps">
    <div class="container">
        <h5 class='page-title'>Map</h5>
        <div class="row">
            <div class="col">

                <!--The div element for the map -->
                <div id="map"></div>
                <script>
                    // Initialize and add the map
                    function initMap() {

                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 6,
                            center: {
                                lat: 4.486535,
                                lng: 109.286518
                            }
                        });

                        // Create an array of alphabetical characters used to label the markers.
                        var labels = {{names | js}}; //get from django



                        // Add some markers to the map.
                        // Note: The code uses the JavaScript Array.prototype.map() method to
                        // create an array of markers based on a given "locations" array.
                        // The map() method here has nothing to do with the Google Maps API.
                        var markers = locations.map(function (location, i) {
                            //alert(i + labels[i])
                            return new google.maps.Marker({
                                position: location,
                                title: labels[i % labels.length],

                            });
                        });

                        // Add a marker clusterer to manage the markers.
                        var markerCluster = new MarkerClusterer(map, markers, {
                            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
                        });
                    }
                    var locations = {{locations | js}}


                </script>


                <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                <script src="{% static 'js/markerclustererplus.min.js'%}">
                </script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEml-6NZm26rmoaZgPvu-LQpzN4gsNAzA&callback=initMap">
                </script>

            </div>



        </div>

    </div>
    </div>
</section>
<!-- Section for Media files -->
<section class="boxplot datefilters">
    <div class="container">
        <!-- <h5 class='page-title'>Media</h5> -->
        <h5 class='page-title datefilterheader'> <a class="collapsed" data-toggle="collapse" href="#collapsehere"
                aria-expanded="true" aria-controls="collapsehere">
                Media
            <i class="fa fa-caret-down"></i></a></h5>
        <div class="collapse" id="collapsehere">
        <div class="cover-container" id="carousel">
            <div class="d-flex flex-row flex-nowrap">
                {% for p in item_imageurl %}
                <div class="product">
                    <div class="imgbox"> <embed src="{{p.url}}" width="210" title="media file" onload="contentLoaded()"> </div>
                    <div class="specifies">
                        <p class="alignleft">{{p.siteid}}</p>
			<p class="alignright">{{p.visitdate}}</p>
			<div style="clear: both;"></div>
			<p>{{p.sitename}}</p>
                        <h2><span>{{p.category}}</span><br><br></h2>
                    </div>

                    <div class="btncontainer">
                       <a href="{% url 'inspectv1:dash2detail' pk=p.masterid %}" target="_blank" rel="noopener noreferrer" role="button" 				class="btn"><i class="fa fa-file-o"></i></a>
                    </div>
                </div>
                <!-- comment to save-->
                {% endfor %}

            </div>
        </div>
        </div>

	<!-- Stops media autoplay -->
	<script>
    		function contentLoaded() {
			console.log("Object loaded");
        		<!-- var $c = $(".embed").contents(); -->
			<!-- console.log(JSON.stringify($c)); -->
			var $d = $( ".embed" ).contents().find("video").attr("autoplay"); 
			<!-- $d.removeAttr("autoplay"); -->
			console.log($d);
			
    		};
	</script>

</section>

{% endblock content %}