{% extends 'inspectv1/base.html' %}
{%load static%}
{%block content%}
{% load bootstrap4 %}
{% block js %}


{% endblock %}
<section class="indexpage">
	<div class="container-fluid">


		<div class="row" style="padding-top:10px;">
			<div class="col-md-4">
				<div class="banner">
					<h3>Dashboard</h3>
					<h5>User login dashboard </h5>
					<small>Please login from the menu to proceed with accessing your applications.</small>
				</div>

				<div class="col-md-8">

				</div>


			</div>

		</div>

	</div>
</section>
{%endblock%}