{% extends 'inspectv1/base.html' %}
{%load static%}
{% block content %}
{% load bootstrap4 %}


<div class="inspection">

    <div class="row">

        <div class="col-sm-12">
            <div class="row sitelist" style="padding-top:10px;">
                <div class="col-sm-12">
                    <div class="row">

                        

                        {%if sitedata%}
                        <div class="container">
                            <div class="pagetitle">Inspection list as of Date</div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Site Name</th>
                                        <th>Date Visited</th>
                                        {%for x in headers%}
                                        <th>{{x}}</th>
                                        {%endfor%}

                                    </tr>
                                </thead>

                                    {% for x in sitedata %}
                                    <tr>
                                    {% for key,val in x.items %}
                                    <td>{{val}}</td>

                                    {% endfor %}
                                    {%endfor%}
                                </tr>
                                {%else %}


                            </table>
                            <p>No Site Avaiable. </p>

                            {% for x in sitedata%}
                            {% for key,val in x.items%}
                            {{key}} - {{val}}
                            {%endfor%}
                            {%endfor%}
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>

{% endblock content %}