{% extends 'inspectv1/base.html' %}
{%load static%}
{% block content %}
{% load bootstrap4 %}


<div class="inspection">

    <div class="row">

        <div class="col-sm-12">
            <div class="row sitelist" style="padding-top:10px;">
                <div class="col-sm-12">
                    <div class="row mb-2">

                        <div class="container">

                            <div class="pagetitle">Inspection list as of {% now "d/m/Y g:i a" %}
                            </div>


                            <div class="dashtable">
                                <table id="mytable" class="table display">

                                    <thead>

                                        <tr>
                                            <th> Site Id</th>
                                            <th>Site Name</th>
                                            <th>Date Visited</th>
                                            <!--  {%for x in headers%}
                                        <th>{{x}}</th>
                                        {%endfor%} -->

                                        </tr>
                                    </thead>
                                    {%if sitedata%}
                                    <tbody>

                                        {% for x in sitedata %}
                                        <tr>
                                            <td>{{x.siteno}}</td>
                                            <td><a
                                                    href="{%url 'inspectv1:inspectdetail' pk=x.siteid%}">{{x.sitename}}</a>
                                            </td>
                                            <td>{{x.siteadd}}</td>
                                            <!-- {% for y,val in x.errors.items%}
                                        <td>{{val}}</td>
                                        {%endfor%} -->
                                        </tr>
                                        {%endfor%}

                                    </tbody>

                                    {%endif%}
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
</script>


{% endblock content %}