{% extends 'inspectv1/base.html' %}
{%load static%}
{% block content %}
{% load bootstrap4 %}
{% block js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{% endblock %}

<style>
 p { background-color: white; margin-top: 0; margin-bottom: 1rem; }
 .base_error{ background-color:#ff0000;}	
 .error{ color:#ff0000;}
 .success{ color : green; padding:10px; }
 .invisible { display:none; }	
	.singlecategory.visible { display:table;width:100%;}
	.singlecategory.visible th{background-color:#fbf7f7;padding: 10px; color:#000; vertical-align:middle; text-align:center; }
	.singlecategory.visible td{text-align:center; }
	.singlecategory button.special{background-color:#2fa8d7;width: auto;padding: 7px 40px;color:#fefefe;float: right;margin-right: 27px;margin-bottom: 15px;margin-top: 29px;}
	
</style>



<script>
  function myfunction(id){
	  var type = $("#field_"+id)[0].type;
	  
	  if(type == "checkbox"){
	  	if ($("#field_"+id).is(":checked")) { 
             $("#image_"+id).show(); 
         }
		 else{
		 	$("#image_"+id).hide();
		 }
	  }
	}
  </script>
<script type="text/javascript">
	$("document").ready(function(){
		//alert("test te");	
		
	
		
		
		$(".submitbutton").click(function(event){
		  event.preventDefault();
			//alert();
			
			var category_id = $(this).prop('id');
			
			$("#category_"+category_id).find("input[type=hidden]").each(function(){
				
				if( $(this).prop('name') == "item_id" ) {
				//alert($(this).html());
				var itemid =  $(this).val();
				
				var itemvalue = $("#field_"+itemid).val();
				var itemimage = $("#image_"+itemid).val();
				
				//alert(itemvalue);
				
				if($("#field_"+itemid).prop('type') == 'checkbox'){
					itemvalue = $("#field_"+itemid).prop('checked');
				
				}
				
				if(itemvalue != ''){
				
				let formData = {};
				formData.category_id = category_id;
				formData.item_id = itemid;
				formData.site_id = '1';
				formData.item_value = itemvalue;
				formData.item_image = itemimage;
				formData.csrfmiddlewaretoken = '{{ csrf_token }}';	

				
				$.ajax({
					url:  '/inspect/add/',
					type:  'post',
					data : formData,
					success:  function (data) {
						if( $("#throw_error_"+itemid).val()  ){
							$( "#card_header_"+category_id ).addClass( "base_error" );
						}
						//$(el).parents()[1].remove()
						//alert("Data Saved Successfully");
					   $(".showmessage").addClass("success");	
					   $(".showmessage").html("Data Saved Successfully");	
					   $(".showmessage").show();	
					}
				});
				
			}	}
				
				
			});
			
		});
		
	})
	
	
	
	function ajaxsubmit(){
		return false;
		
	}
	
	function showcard(id){
		if( $( "#category_"+id ).hasClass('visible') ){
			$( "#category_"+id ).removeClass('visible');
			$( "#category_"+id ).addClass('invisible');
		}else{
			$( "#category_"+id ).removeClass('invisible');
			$( "#category_"+id ).addClass('visible');
		}
	}
	
</script>

<div class="inspection">
 
<div class="row">
  <div class="col-sm-3">
    <div class="card mt-3" >
        <div class="card-header locationheader">Select Location</div>
        <div class="card-body">
          <h3 class="card-title"></h3>
          
          <div class="form-group">
            <label for="">Site Id</label> <i class="fa fa-location-arrow" aria-hidden="true"></i>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <label for="">Site Name</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
               <label for="">Site Address</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
               <label for="">Site Lat</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
               <label for="">Site Long</label>
            <input type="text"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
          <button type="button" class="btn btn-primary"> Get Checklist</button>
        </div>
      </div>
  </div>
  <div class="col-sm-9">
	
	  
	  
	  
    <form id="categoryform" onsubmit="return ajaxsubmit()" class="" action="{% url 'inspectv1:add' %}" method="post">
	  <p   class="showmessage" style="display:none;" > Data Saved Successfully. </p>	
      {% if messages %}
        {% for message in messages %}
        <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
   
    {% endif %}
      {% csrf_token %}
     
    
  {% for cat in category|dictsort:"sequence" %}
 
  
    <div class="row mt-3">
      
      
      <div class="col-sm-12 mx-auto" >
        <div class="card" >
          
          
          <div class="card-header" id="card_header_{{cat.id}}" onclick="showcard('{{cat.id}}')">{{cat}}</div>
          
            
          <table cellspacing="2" cellpadding="2" class="table singlecategory invisible" id="category_{{cat.id}}" >
          
            <!-- <h3 class="card-title">{{cat.items.category}}</h3> -->
  			 <input type="hidden" value="{{cat.id}}" name="category_id" id="category_id_{{cat.id}}" > 	
           <thead class="thead-dark">
                <tr>
                  <th style="width:10%; padding: 0 0 0 10px;">S.NO</th>
                  <th style="width:40%;">Items</th>
                  <th style="width:20%; text-align:left;">Remarks</th>
                  <th style="width:30%;"></th>
                  </tr>
                </thead>
            	<tbody class="table-striped">
               {%for list in cat.items.all %}
               
               <tr class="singleitem" id="item_{{list.id}}">
               <input type="hidden" value="{{list.id}}" name="item_id" id="item_id_{{list.id}}" >
               <input type="hidden" value="{{list.throw_error}}" name="item_throw_error" id="throw_error_{{list.id}}" >
              <td style="padding: 0 0 0 20px;"><p>{{list.sequence}}.</p>    </td> 
              <td ><p class="para">{{list.items}}</p></td>
              <td style="text-align:left;"><input type={{list.fieldtype}}  name="field" id="field_{{list.id}}" onclick="myfunction('{{list.id}}')"  ></td>
              
              <td><!--<input type='Checkbox' id="mycheck_{{list.sequence}}" name="status[]" class="cboxes" onclick="myfunction({{list.sequence}});">--> <div><input type="file" name="my_image" id="image_{{list.id}}"  style="display:none"></div></td>

              
            
              </tr>
           
             {%endfor%}
					 </tbody>
            
         
		 <tr><td colspan="4">	  
			  <button class="btn special submitbutton" id="{{cat.id}}" type="submit" style="">Save</button>
          <!--{% bootstrap_button "Save" button_type="submit" id="{{cat.id}}" button_class="btn special" %} -->
			 </td></tr>
        </table>
        
        

        </div>
      </div>
   
    </div>
    {%endfor%}
	 </form>  
	  
    </div>
  </div>
  
    
  </div>
  
  {% endblock content %}
	
      