{%  extends 'admin/change_list.html' %}
{%	block object-tools %}

{% block js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"

  
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{% endblock %}
<div>test test</div>
{% if request.GET.q %}<div>{{ request.GET.q }}</div>{% endif %}

{% for cat in category|dictsort:"sequence" %}
{{cat}}
 {%endfor%}

		{{ block.super }}
<script type="text/javascript">
	$("document").ready(function(){
		
		var queryparam = '{{request.GET.q}}';
		if(queryparam == ""){
			
		}
		else{
			
		}
	})
</script>	
{% endblock object-tools %}





