body {
    background-color: rgba(0, 0, 0, 0.76);
    font-family: 'Open Sans', sans-serif;

}


.first {
    background-color:rgba(0, 0, 0, 0.76) !important;
}

.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }

.loginpage {
    height:800px;
    background-color: rgba(0, 0, 0, 0.76);
}

li .nocircle{
    list-style: none;
}

.inspection {
    height: max-content;
    background-color: rgba(0, 0, 0, 0.76);

}

.card {
    color:black;
}

.card-header  {
    background-color: rgba(84, 175, 211, 0.514);
}

.card-heaader.locationheader {
    background-color: rgba(86, 91, 94, 0.514);

}

.indexpage {

    color:white;
}
 
.btn-primary a{
	color:#fff;
}